<div id="<%= dom_id address %>">
  <p>
    <strong>Street1:</strong>
    <%= address.street1 %>
  </p>

  <p>
    <strong>Street2:</strong>
    <%= address.street2 %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= address.zip %>
  </p>

</div>
